
# Dependencies
node_modules/

# Capacitor web output
www/

# Android
android/

# iOS build artifacts
ios/App/App/public/
ios/App/build/
ios/App/Pods/
ios/App/App.xcworkspace/
ios/.DS_Store
DerivedData/
*.xcworkspace/xcuserdata/

# Misc
.DS_Store
.env
.env.*
*.log
dist/
*.png
*.jpeg
*.jpg
